.page-header.navbar .page-logo {
	line-height: 75px;
	width: auto;
}
.page-header.navbar .page-logo-box {
	
}
.page-header.navbar .page-logo .logo-text {
	display: inline-block;
	font-size: 16px;
}

.label {
	font-family: "微软雅黑";
}
