<!DOCTYPE html>
<html lang="zh-CN">

<head>
	<meta charset="utf-8">
	<title>[title]</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="keywords" content="[keywords]" />

	<!--[if lt IE 8]>
		<meta http-equiv="refresh" content="0;ie.html" />
	<![endif]-->
	<link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico">

	<!--Bootstrap 及公共CSS引入-->
	<link rel="stylesheet" href="__PUBLIC__/js/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/js/plugins/bootstrap/css/bootstrap-table.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="__PUBLIC__/css/animate.min.css" />

	<!--本页 公共CSS引入-->
	<link rel="stylesheet" href="__PUBLIC__/css/admin/global.css" />
	<link rel="stylesheet" href="__PUBLIC__/css/admin/style.min.css" />
</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">