		<!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle img-user-head" src="__PUBLIC__/img/img1.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">{$Think.session.username}</strong></span>
                                <span class="text-muted text-xs block">超级管理员<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu m-t-xs animated bounceInLeft">
                                <li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
                                </li>
                                <li><a class="J_menuItem" href="profile.html">个人资料</a>
                                </li>
                                <li><a class="J_menuItem" href="contacts.html">联系我们</a>
                                </li>
                                <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="__MODULE__/Login/logout">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">朕</div>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0);">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">主页</span>
                            <span class="fa arrow"></span>
                        </a>
                        <!-- <ul class="nav nav-second-level"> -->
						<ul class="sub-nav">
                            <li>
                                <a class="J_menuItem" href="{:U('Admin/Index/index_v1')}" data-index="0">
									<i class="fa fa-home"></i>
									<span class="nav-label">首页</span>
								</a>
                            </li>
                        </ul>
                    </li>
					<li class="nav-item">
						<a href="javascript:void(0);">
							<i class="fa fa-users"></i>
							<span class="nav-label">用户管理</span>
							<span class="fa arrow"></span>
						</a>
						<ul class="sub-nav">
							<li>
								<a class="J_menuItem" href="{:U('Admin/Index/muserAdmin')}">
									<i class="fa fa-user-plus"></i>
									<span class="nav-label">账户管理</span>
								</a>
							</li>
							<li>
								<a class="J_menuItem" href="###">
									<i class="fa fa-area-chart"></i>
									<span class="nav-label">账户分析</span>
								</a>
							</li>

						</ul>
					</li>
					<li class="nav-item">
						<a href="javascript:void(0);">
							<i class="fa fa-film"></i>
							<span class="nav-label">影视管理</span>
							<span class="fa arrow"></span>
						</a>
						<ul class="sub-nav">
							<li>
								<a class="J_menuItem" href="{:U('Admin/Video/videoAdmin')}">
									<i class="fa fa-floppy-o"></i>
									<span class="nav-label">资源管理</span>									
								</a>
							</li>
							<li>
								<a class="J_menuItem" href="{:U('Admin/Video/videoDetailsAdmin')}">
									<i class="fa fa-list-alt"></i>
									<span class="nav-label">详情管理</span>									
								</a>
							</li>
							<li>
								<a class="J_menuItem" href="{:U('Admin/Video/videoAnalysis')}">
									<i class="fa fa-bar-chart"></i>
									<span class="nav-label">资源统计</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a href="javascript:void(0);">
							<i class="fa fa-music"></i>
							<span class="nav-label">音乐管理</span>
							<span class="fa arrow"></span>
						</a>
						<ul class="sub-nav">
							<li>
								<a class="J_menuItem" href="{:U('Admin/Music/musicAdmin')}">
									<i class="fa fa-floppy-o"></i>
									<span class="nav-label">资源管理</span>									
								</a>
							</li>
							<li>
								<a class="J_menuItem" href="{:U('Admin/Music/musicDetailsAdmin')}">
									<i class="fa fa-list-alt"></i>
									<span class="nav-label">详情管理</span>									
								</a>
							</li>
							<li>
								<a class="J_menuItem" href="{:U('Admin/Video/videoAnalysis')}">
									<i class="fa fa-bar-chart"></i>
									<span class="nav-label">资源统计</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a href="javascript:void(0);">
							<i class="fa fa-line-chart"></i>
							<span class="nav-label">会员分析</span>
							<span class="fa arrow"></span>
						</a>
						<ul class="sub-nav">
							<li>
								<a class="J_menuItem" href="{:U('Admin/User/userAdmin')}">
									<i class="fa fa-user-plus"></i>
									<span class="nav-label">会员管理</span>									
								</a>
							</li>
							<li>
								<a class="J_menuItem" href="###">
									<i class="fa fa-pie-chart"></i>
									<span class="nav-label">会员数分析</span>									
								</a>
							</li>
						</ul>
					</li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->