
	
	<!--页面底部信息-->
	<div class="page-footer">
		<p>Copyright ©2015 <b>朕乐视频 <a href="www.weijuer.com">weijuer.com</a></b> All Rights Reversed. </p>
		<p>备案号：苏ICP备15011477号 版权所有 维权必究</p>
	</div>
	
	<!-- 页面JS-->
	<block name="page-js"></block>
	
	<!--公共JS引入-->
	<script src="__PUBLIC__/js/pages/public.js"></script>
	<script src="__PUBLIC__/js/home/bootstrap-suggest.min.js"></script>
	<script src="__PUBLIC__/js/plugins/iCheck/icheck.min.js"></script>
	<script src="__PUBLIC__/js/plugins/steps/jquery.steps.min.js"></script>
    <script src="__PUBLIC__/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/plugins/validate/messages_zh.min.js"></script>
	<script src="__PUBLIC__/js/plugins/layer/layer.min.js"></script>
	
	<!-- 上传组件 -->
	<script src="__PUBLIC__/js/plugins/fileinput/fileinput.js"></script>
	<script src="__PUBLIC__/js/plugins/fileinput/fileinput_locale_zh.js"></script>
	<script src="__PUBLIC__/js/pages/page-common.js"></script>