		<meta charset="utf-8">
		<block name="site-title"><title>朕乐视频-{$videoList.videoname|default="电影"}</title></block>
		<meta name="keywords" content="[keywords]{:C('WEB_SITE_KEYWORD')}" />
		<meta name="description" content="[description]{:C('WEB_SITE_DESCRIPTION')}"/>
		
		<!--网页标签-->
		<link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico" />
		<link rel="Bookmark" href="__PUBLIC__/img/favicon.ico" />
		
		<!--Bootstrap CSS引入-->
		<link rel="stylesheet" href="__PUBLIC__/js/plugins/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/js/plugins/bootstrap/css/bootstrap-table.min.css" />
		
		<!--本页 公共CSS引入-->
		<link rel="stylesheet" href="__PUBLIC__/css/jquery.smarticker.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/plugins/iCheck/custom.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/plugins/steps/jquery.steps.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/plugins/fileinput/fileinput.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/animate.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/home/banner.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/home/global.css" />
		<link rel="stylesheet" href="__PUBLIC__/css/home/style.min.css" />
		
		<!-- 本页JS引入 -->
		<script src="__PUBLIC__/js/jquery.min.js"></script>
		<script src="__PUBLIC__/js/plugins/bootstrap/js/bootstrap.min.js"></script>
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/json2/20140204/json2.min.js"></script>
		<![endif]-->