	<div class="page-header">
		<!-- 顶部导航栏开始 -->
		<nav class="navbar navbar-fixed-top" role="navigation">
		    <div class="navbar-container">
		        <div class="navbar-header-top">
					<!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		                <span class="sr-only">Toggle navigation</span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button> -->
					<a class="navbar-brand" href="http://www.thinkphp.com/"><img src="__PUBLIC__/img/logo.png" alt="朕乐视频logo" /></a>
		        </div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul id="menu" class="nav navbar-nav nav-tab">
						<li class=""><a href="http://www.thinkphp.com/" >首 页</a></li>
						<!--<li><a href="javascript:void(0);">热门视频</a>
							<ul>
								<li> <a href="javascript:void(0);">热门推荐</a>
									<ul>
										<li><a href="">搞笑综艺</a></li>
										<li><a href="">感人视频</a></li>
										<li><a href="">新闻事件</a></li>
									</ul>
								</li>
								<li> <a href="javascript:void(0);">周边趣事</a>
									<ul>
										<li><a href="">我的周边</a></li>
										<li><a href="">海外趣谈</a></li>
										<li><a href="">娱乐八卦</a></li>
									</ul>
								</li>
							</ul>
						</li>-->
						<li> <a href="{:U('/videoList')}">电 影</a>
							<ul>
								<li> <a href="javascript:void(0);">朕乐影院</a>
									<ul>
										<li> <a href="javascript:void(0);">朕乐独家</a>
											<ul>
												<li><a href="">优酷会员</a></li>
												<li><a href="">搜狐会员</a></li>
												<li><a href="">爱奇艺会员</a></li>
												<li><a href="">百度网盘</a></li>
											</ul>
										</li>
										<li> <a href="javascript:void(0);">朕乐专题</a>
											<ul>
												<li><a href="">高分篇</a></li>
												<li><a href="">情感篇</a></li>
												<li><a href="">音乐篇</a></li>
												<li><a href="">动作篇</a></li>
												<li><a href="">剧情篇</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li> <a href="javascript:void(0);">预告片</a>
									<ul>
										<li><a href="">最新上映</a></li>
										<li><a href="">欧美上映</a></li>
										<li><a href="">港台上映</a></li>
										<li><a href="">国内独家</a></li>
									</ul>
								</li>
								<li> <a href="javascript:void(0);">欧美大片</a>
								</li>
								<li> <a href="javascript:void(0);">港台经典</a>
									<ul>
										<li><a href="">港台经典1-1</a></li>
										<li><a href="">港台经典1-2</a></li>
										<li><a href="">港台经典1-3</a></li>
									</ul>
								</li>
								<li> <a href="javascript:void(0);">国产好片</a>
									<ul>
										<li><a href="">国产好片1-1</a></li>
										<li><a href="">国产好片1-2</a></li>
										<li><a href="">国产好片1-3</a></li>
									</ul>
								</li>
								<li> <a href="javascript:void(0);">日韩精粹</a>
									<ul>
										<li><a href="">日韩精粹1-1</a></li>
										<li><a href="">日韩精粹1-2</a></li>
										<li><a href="">日韩精粹1-3</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a href="javascript:void(0);">综 艺</a></li>
						<li><a href="javascript:void(0);">动 漫</a>
							<ul>
								<li><a href="">日本动漫</a></li>
								<li><a href="">国产动漫</a></li>
								<li><a href="">海外动漫</a></li>
								<li><a href="">动漫电影</a></li>
							</ul>
						</li>
						<li><a href="javascript:void(0);">关 于</a></li>
						<li><a href="javascript:void(0);">杂 役</a></li>
						<!-- <li><a href="javascript:void(0);">联 系</a>
							<ul>
								<li><a href="javascript:void(0);">微博</a>
									<ul>
										<li><a href="javascript:void(0);">朕心疼妳</a></li>
									</ul>
								</li>
								<li><a href="javascript:void(0);">微信公众号</a>
									<ul>
										<li><a href="javascript:void(0);">二维码</a></li>
									</ul>					
								</li>
							</ul>
						</li> -->
						<li class="nav-search">
							<form method="post">
								<input type="text" name="search" class="nav-search-item" placeholder="搜索" />
							</form>
						</li>
					</ul>
				</div><!--/.nav-collapse -->
		    </div>
		</nav>
		<!-- 顶部导航栏结束 -->
	</div>