			<extend name="Base/common"/>
			<block name="site-title"><title>朕乐视频-首页</title></block>
			
			<block name="body">
			<!--页面内容开始-->
			<div class="row content-body">
				<div class="col-sm-12">
					
					<!--轮播图 开始 -->
					<div class="main_banner">
		
						<div class="main_banner_wrap">
							<div class="main_banner_box" id="m_box">
								<a href="javascript:void(0)" class="banner_btn js_pre">
									<span class="banner_btn_arrow"><i></i></span>
								</a>
								<a href="javascript:void(0)" class="banner_btn btn_next js_next">
									<span class="banner_btn_arrow"><i></i></span>
								</a>
								<ul>
									<li id="imgCard0">
										<a href=""><span style="opacity:0;"></span></a>      
										<img src="__PUBLIC__/img/banner/big0020150102211033.jpg" alt="">
										<p style="bottom:0">周杰伦粉丝版MV</p>
									</li> 
									<li id="imgCard1">
										<a href=""><span style="opacity:0.4;"></span></a>      
										<img src="__PUBLIC__/img/banner/big0120150101183428.jpg" alt="">
										<p>乐侃有声节目第二期</p>
									</li> 
									<li id="imgCard2">
										<a href=""><span style="opacity:0.4;" ></span></a>        
										<img src="__PUBLIC__/img/banner/big0320150101183351.jpg" alt="">
										<p>乐见大牌：”荣“耀之声，”维“我独尊</p>
									</li> 
									<li id="imgCard3">
										<a href=""><span style="opacity:0.4;"></span></a>      
										<img src="__PUBLIC__/img/banner/big0420150101224343.jpg" alt="">
										<p>王力宏四年心血结晶</p>
									</li> 
									<li id="imgCard4">
										<a href=""><span style="opacity:0.4;"></span></a>      
										<img src="__PUBLIC__/img/banner/big0720150102210934.jpg" alt="">
										<p>MV精选：《武媚》女神团美艳大比拼</p>
									</li> 
								</ul>
								<!--火狐倒影图层-->
								<p id="rflt"></p>
								<!--火狐倒影图层-->
							</div>
							<!--序列号按钮-->
							<div class="btn_list">
								<span class="curr"></span><span></span><span></span><span></span><span></span>        
							</div>
						</div>
						
					</div>
					<!--轮播图 结束 -->
		
					<!-- 切换选项卡开始 -->
					<div class="tabs-container">
						<!-- 选项卡菜单 -->
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#tab-comment" aria-expanded="true"> 精彩点评</a>
							</li>
							<li class=""><a data-toggle="tab" href="#tab-suggest" aria-expanded="false">相似资源</a>
							</li>
						</ul>
						<!-- 选项盒子 -->
						<div class="tab-content">
							<div id="tab-comment" class="tab-pane active">
								<div class="panel-body">
					
									
								</div>
							</div>
							
							<div id="tab-suggest" class="tab-pane">
								<div class="panel-body">
									
								</div>
							</div>
						</div>
					</div>	
					<!-- 切换选项卡结束 -->
					
					<!--表格主体开始-->
					<div class="table-body">
						<!-- 网站公共 -->
						<div class="smarticker2">
							<ul>
								<li><a href="###">欢迎光临本站点</a></li>
								<li><a href="###">这里是最新的视频、电影、电视剧集中基地</a></li>
								<li><a href="###">本站点所有视频信息均来源于网络，如有维权请联系站长删除。</a></li>
								<li><a href="###">本站点现处于测试阶段，如遇问题，请先站长反馈，谢谢配合！</a></li>
							</ul>
						</div>
						
						<table id="movieTable"></table>		
					</div>
					<!--表格主体结束-->	
				</div>
			</div>
			<!--页面内容结束-->
			</block>
		
	<block name="page-js">
	<script src="__PUBLIC__/js/plugins/bootstrap/js/bootstrap-table.min.js"></script>
	<script src="__PUBLIC__/js/plugins/bootstrap/js/bootstrap-table-zh-CN.js"></script>	
	<script src="__PUBLIC__/js/jquery.smarticker.js"></script>
	<script src="__PUBLIC__/js/pages/public.js"></script>
	<script src="__PUBLIC__/js/home/banner/banner.js"></script>
	<script>
		$(function() {					

			// 表格数据加载
			var $table = $('#movieTable'),
				$remove = $('#remove'),
				selections = [];
			
			// 时间格式化
			function regDateFormatter(value, row, index) {

				var date = getTime(row.regdate);
				if(row.regdate!=0){
					return date;
				}else {
					return row.regdate;
				}
				
			}
			
			// 时间格式化
			function lastDateFormatter(value, row, index) {

				var date = getTime(row.lastdate);
				if(row.regdate!=0){
					return date;
				}else {
					return row.regdate;
				}
				
			}
			
			
			// 获取后台格式化数组对象
			var arrList = {$arrList}; // 可使用parseJSON()方法转换JSON字符串到Object

			// 种类转换
			function kindFormatter(value, row, index) {
				var kindList = arrList.kindList;
				var rowStr = row.kind;
				var rowList = rowStr.split(",");
				var newStrList = '';

				// return rowStr.replace("DH","动画片");
				
				$.each(kindList,function(i,i_item){						
					$.each(rowList,function(o,o_item){
						if(i == o_item) {
							
							newStrList += i_item + '，';
						}
					});
				});
				// 截去最后一个逗号
				return newStrList.substring(0,newStrList.length-1);
			}
			
			// 语言转换
			function langFormatter(value, row, index) {
				var langList = arrList.langList;
				var rowStr = row.lang;
				var rowList = rowStr.split(",");
				var newStrList = '';
				
				$.each(langList,function(i,i_item){						
					$.each(rowList,function(o,o_item){
						if(i == o_item) {
							newStrList += i_item + '，';
						}
					});
				});
				// 截去最后一个逗号
				return newStrList.substring(0,newStrList.length-1);
			}
			
			// 地区转换
			function regionFormatter(value, row, index) {
				var regionList = arrList.regionList;
				var rowStr = row.region;
				var rowList = rowStr.split(",");
				var newStrList = '';
				
				$.each(regionList,function(i,i_item){						
					$.each(rowList,function(o,o_item){
						if(i == o_item) {
							newStrList += i_item + '，';
						}
					});
				});
				// 截去最后一个逗号
				return newStrList.substring(0,newStrList.length-1);
			}
			
			// 种子转换
			function is_seededFormatter(value, row, index) {
				var is_seededList = arrList.is_seededList;
				var rowStr = row.is_seeded;
				var rowList = rowStr.split(",");
				var newStrList = '';
				
				$.each(is_seededList,function(i,i_item){						
					$.each(rowList,function(o,o_item){
						if(i == o_item) {
							newStrList += i_item + '，';
						}
					});
				});
				// 截去最后一个逗号
				return newStrList.substring(0,newStrList.length-1);
			}
			
			// 清晰度转换
			function is_hdFormatter(value, row, index) {
				var is_hdList = arrList.is_hdList;
				var rowStr = row.is_hd;
				var rowList = rowStr.split(",");
				var newStrList = '';
				
				$.each(is_hdList,function(i,i_item){						
					$.each(rowList,function(o,o_item){
						if(i == o_item) {
							newStrList += i_item + '，';
						}
					});
				});
				// 截去最后一个逗号
				return newStrList.substring(0,newStrList.length-1);
			}
			
			// 链接格式化
			function linkFormatter(value, row, index) {
				console.log(row.moviename);
				var html = '<a class="movie-link" href="/videoDetail/'+row.vid+'.shtml"><i class="fa fa-thumbs-o-up"></i>'+row.videoname+'</a>'
					return html;						
			}
			
			// 请求数据地址
			var queryUrl = '/movieList' + '?rnd=' + +Math.random(); // 请求URL	
			
			// 表格初始化 
			$table.bootstrapTable({
				//height: getHeight(),
				method:'get',
				url: queryUrl,
				cache:false,
				//height:300,
				// toolbar:'#toolbar',
				striped:true,
				pagination:true,
				//sidePagination:'client',
				// pageNumber:1, //默认显示第几页数据
				pageSize:5,
				pageList:[10,20,30],
				search:true,
				// sortOrder:'desc',
				// showColumns:true,
				// showToggle:true,
				showRefresh:true,
				minimumCountColumns: 2,
				//rowStyle:rowStyle, // 行样式
				// clickToSelect: true,
				columns: [{
					field: 'vid',
					title: '序号',
					align: 'center',
					valign: 'middle'
				}, {
					field: 'kind',
					title: '类型',
					align: 'center',
					valign: 'middle',
					formatter: kindFormatter
				}, {
					field: 'regdate',
					title: '发布时间',
					align: 'center',
					valign: 'middle',
					formatter: regDateFormatter
				}, {
					field: 'lang',
					title: '资源语言',
					align: 'center',
					valign: 'middle',
					formatter: langFormatter
				}, {
					field: 'videoname',
					title: '资源名称',
					align: 'center',
					valign: 'middle',
					formatter: linkFormatter
				}, {
					field: 'size',
					title: '资源大小',
					align: 'center',
					valign: 'middle'
				}, {
					field: 'is_seeded',
					title: '是否种子',
					align: 'center',
					valign: 'middle',
					formatter: is_seededFormatter
				}, {
					field: 'is_hd',
					title: '清晰度',
					align: 'center',
					valign: 'middle',
					formatter: is_hdFormatter
				}, {
					field: 'downloadnum',
					title: '下载次数',
					align: 'center',
					valign: 'middle'
				}, {
					field: 'user',
					title: '发布者',
					align: 'center',
					valign: 'middle'
				}, {
					field: 'lastdate',
					title: '更新时间',
					align: 'center',
					valign: 'middle',
					formatter: lastDateFormatter
				}]	
			});
			
			//传递的参数
			function queryParams(params) {					 
				return {					 
					pageSize: params.pageSize,					 
					pageIndex: params.pageNumber,					 
					UserName: $("#txtName").val(),					 
					Birthday: $("#txtBirthday").val(),					 
					Gender: $("#Gender").val(),					 
					Address: $("#txtAddress").val(),					 
					name: params.sortName,					 
					order: params.sortOrder					 
				};					 
			}
			
		});
	</script>
	</block>