			<extend name="Base/common"/>
			<block name="site-title"><title>朕乐视频-资源播放《{$videoList.videoname|default="资源详情"}》</title></block>
			
			<block name="body">
			<!--页面内容开始-->
			<div class="row content-body video-player">
				<div class="col-sm-8">
	                <div class="ibox float-e-margins">
	                    <div class="ibox-title">
	                        <h5>测试视频播放</h5>
	                        <div class="ibox-tools">
	                            <a class="collapse-link">
	                                <i class="fa fa-chevron-up"></i>
	                            </a>
	                            <a class="close-link">
	                                <i class="fa fa-times"></i>
	                            </a>
	                        </div>
	                    </div>
	                    <div class="ibox-content">
	                        <div class="player">
	                            <video poster="__PUBLIC__/img/a1.jpg" controls crossorigin>
	                                <!-- Video files -->
	                                <source src="__PUBLIC__/video/demo.mp4" type="video/mp4">
	
	                                <!-- Text track file -->
	                                <track kind="captions" label="English" srclang="en" src="" default>
	
									<!-- Fallback for browsers that don't support the <video> element -->
									<a href="__PUBLIC__/video/demo.mp4">下载</a>
	                            </video>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <div class="col-sm-4">
	                <div class="ibox float-e-margins">
	                    <div class="ibox-title">
	                        <h5>音频播放</h5>
	                        <div class="ibox-tools">
	                            <a class="collapse-link">
	                                <i class="fa fa-chevron-up"></i>
	                            </a>
	                            <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
	                                <i class="fa fa-wrench"></i>
	                            </a>
	                            <ul class="dropdown-menu dropdown-user">
	                                <li><a href="form_basic.html#">选项1</a>
	                                </li>
	                                <li><a href="form_basic.html#">选项2</a>
	                                </li>
	                            </ul>
	                            <a class="close-link">
	                                <i class="fa fa-times"></i>
	                            </a>
	                        </div>
	                    </div>
	                    <div class="ibox-content">
	                        <div class="player">
	                            <audio controls>
	                                <!-- Audio files -->
	                                <source src="__PUBLIC__/music/偏偏喜欢你.mp3" type="audio/mp3">
	
	                                <!-- Fallback for browsers that don't support the <audio> element -->
	                                您的浏览器不支持在线播放，请<a href="__PUBLIC__/music/偏偏喜欢你.mp3">下载</a>
	                            </audio>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <!--页面内容结束-->
	        </block>
	        
	        <block name="page-js">	
			<link rel="stylesheet" href="__PUBLIC__/css/plyr/plyr.css">
		    <script>
		        (function(d,u){var a=new XMLHttpRequest(),b=d.body;if("withCredentials" in a){a.open("GET",u,true);a.send();a.onload=function(){var c=d.createElement("div");c.setAttribute("hidden","");c.innerHTML=a.responseText;b.insertBefore(c,b.childNodes[0])}}})(document, "__PUBLIC__/css/plyr/sprite.svg");
		    </script>
		    <script src="__PUBLIC__/js/plugins/plyr/plyr.js"></script>
		    <script>
		        plyr.setup();
		    </script>
    		</block>