/* 样式格式化 */
html,body,select,h1,h2,h3,h4,h5,h6,div,ul,ol,li,dl,dt,dd,iframe,textarea,input,button,p,select,option,strong,b,a,span,del,pre,table,tr,th,td{
	margin:0; padding:0; 
	-webkit-text-size-adjust:none;
}
ul,dl,ol{ list-style:none;}
table{ border-collapse:collapse;}
a{
	text-decoration:none;
	color: #000;
}

a:focus, a:hover {
	text-decoration: none;
}

img{ 
	border:none; 
}
h1,h2,h3,h4,h5,h6,em,del,b,i{
	font-style:normal; font-size: 100%;
}

a, input,button,textarea{
	font-family:"微软雅黑";
	outline: none; 
	resize:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}


/* 顶部菜单栏 */
.page-header {
	margin: 0;
	padding: 0;
	border-bottom: 0;
}

.logo {
	position: absolute;
	top: 0;
	right: 43em;
}

#menu a {
	color: #2A679F;
}

#menu:before, #menu:after {
	content: "";
	display: table;
}
#menu:after {
	clear: both;
}

#menu li {
	float: left;
	display: inline-block;
	line-height: 1.5rem;
	position: relative;
}

#menu a {
	display: block;
	padding: 1rem 2rem;
	color: #999;
	text-transform: uppercase;
	font: 1.6rem "微软雅黑";
/* 	text-shadow: 2px 2px 2px #000; */
}
#menu li:hover > a,#menu>li.nav-current > a {
	color: #fafafa;
	background: #55BB54;
	text-shadow: 2px 2px 2px #5A5A5A;
}

#menu  ul > li:first-child:hover > a:after {
	border-bottom-color: #55BB54;	
}

#menu ul ul > li:first-child:hover > a:after {
	border-right-color: #55BB54;
	border-bottom-color: transparent;
}

#menu ul {
	margin: 20px 0 0 0;
	_margin: 0;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 5rem;
	left: 0;
	z-index: 1;
	background: #8ECB8D;
	-moz-box-shadow: 0 -1px rgba(255,255,255,.3);
	-webkit-box-shadow: 0 -1px 0 rgba(255,255,255,.3);
	box-shadow: 0 -1px 0 rgba(255,255,255,.3);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
#menu li:hover > ul {
	opacity: 1;
	visibility: visible;
	margin: 0;
}
#menu ul ul {
	top: 0;
	left: 12rem;
	margin: 0 0 0 20px;
	_margin: 0;
	-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	box-shadow: -1px 0 0 rgba(255,255,255,.3);
}
#menu ul li {
	float: none;
	display: block;
	border: 0;
	_line-height: 0;
	-moz-box-shadow: 0 1px 0 #BAE7AE, 0 1px 0 #666;
	-webkit-box-shadow: 0 1px 0 #BAE7AE, 0 1px 0 #666;
	box-shadow: 0 1px 0 #BAE7AE, 0 1px 0 #E0E0E0;
}
#menu ul li:last-child {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
#menu ul a {
	padding: 10px;
	width: 130px;
	_height: 10px;
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
	color: #FFF;
}

#menu ul a:hover {
	background-color: #55BB54;
}
#menu ul li:first-child > a {
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
#menu ul li:first-child > a:after {
	content: '';
	position: absolute;
	left: 40px;
	top: -6px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #8ECB8D;
}
#menu ul ul li:first-child a:after {
	left: -6px;
	top: 50%;
	margin-top: -6px;
	border-left: 0;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #8ECB8D;
}
#menu ul li:first-child a:hover:after {
	border-bottom-color: #55BB54;
}
#menu ul ul li:first-child a:hover:after {
	border-right-color: #55BB54;
	border-bottom-color: transparent;
}
#menu ul li:last-child > a {
	-moz-border-radius: 0 0 3px 3px;
	-webkit-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}

.navbar {
	min-height: 45px;
	border: 0;
}
.navbar-container {
	padding: 0 14em;
	background: #FFF;
	border-bottom: 1px solid #CCCCCC;
	box-shadow: 0px 0px 5px #999;
}


.navbar-brand {
	height: 45px;
}
.user-login-box {
	float: left;
}
.user-login-box li {
	float: left;
	display: inline-block;
	line-height: 1.5rem;
	position: relative;
}
.user-login-box li a {
	display: block;
	padding: 1rem 1rem;
	color: #AAAAAA;
	height: 45px;
	text-transform: uppercase;
	font: 1.4rem "微软雅黑";
}

.nav-search {
	/*margin: 1rem 1rem 0 1rem;*/
}

.nav-search-item {
	margin: 1rem;
	text-indent: 0.3em;
	border: 1px solid #CCCCCC;
}


/* 主体内容 */
.container {
	padding: 0;
	margin: 0;
}

.content {
	margin-top: 5rem;
}

.content-body {	
	margin: 2rem 14rem;
}

.tabs-container {
	margin-bottom: 1rem;
}

.fixed-table-container thead th,.fixed-table-container tbody td {
	border-left: none;
}


.sub-header {
	background: #DFDFDF;
	padding: 1rem;
	min-width: 999px;
}

.table-main {
	background: #FFFFFF;
	border: 1px solid #DCDCDC;
	margin: 1em;
}

.table-body {
	padding: 1rem;
	background: #FFFFFF;
	border: 1px solid #CCCCCC;
	overflow: auto;
}

.table thead {
	background: #87E0AE;
}

.page-footer {
	text-align: center;
	background: #CCCCCC;
}

.to-left {
	float: left;
}

.to-right {
	float: right;
}

.clear-float {
	clear: both;
}

.link-color {
	color: #9E9E9E;
}

.in-block {
	display: inline-block;
}

.to-block {
	display: block;
}

/*模态框*/
.modal-dialog {
	margin: 7% auto;
	margin-bottom: 0;
}
.modal-title-bar {
	border-bottom: 1px dashed #919191;
	margin-bottom: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}

/*网站协议*/
.protocol {
	text-align: justify;
	overflow: auto;
	height: 20em;
	padding: 1em;
	border: 1px solid #CCCCCC;
	margin-bottom: 0.5em;
}
#acceptTerms-error {
	position: absolute;
	left: 9em;
}

/* 资源详情页面 */

.video-info-header,.user-head {
	margin-bottom: 1rem;
}

.img-box {
	text-align: center;
}

.video-pic-head {
	max-height: 180px;
	border-radius: 4px;
	overflow: hidden;
}
.video-name {
	margin: 1rem 2rem;
	color: #2F9400;
}

.btn-group,.btn-above {
	margin-top: 1rem;
}
.social-body .photos {	
	margin-top: 1rem;
}

dd, dt {
	line-height: 1.658571;
	font-size: 1.4rem;
}

.video-list-box {
	padding: 0.5rem 0;
	border-bottom: 1px solid #CCCCCC;
}
.video-list {
	margin-top: 0.5rem;
}
.video-list li {
	display: inline-block;
}
.file a {
	display: block;
}

/* 一般页面公共样式 */
html{
	font-family:"微软雅黑";
	font-size: 62.5%; /* 10÷16=62.5% */
	width: 100%;
	height: 100%;
}

body {
	font-size: 12px;
	font-size: 1.2rem; /* 12÷10=1.2 */
	width: 100%;
	height: 100%;
	background: #F8F8F8;
} /* =12px */

h3{
	font-size: 30px;
	font-size: 2.5rem; 
} /* =30px */

p{
	font-size:14px;
	font-size:1.4rem;
}

.container {
	width: 100%;
	/*margin-top: 45px;*/
	height: calc(100% - 40px);
	overflow: auto;
	font-family: "微软雅黑","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.2rem;
}

.file-addtime {
	color: #676a6c;
}

.page {
	clear: both;
	text-align: center;
}
.caption {
	position: absolute;
	left: 0;
	top: -4em;
	width: 100%;
	text-align: center;
	overflow: auto;
	opacity: 0;
	border-bottom: 2px solid #55BB54;
	background: rgba(51, 51, 51, 0.8);
	color: #55BB54;
	-webkit-transition: all 0.3s cubic-bezier(0.815, 1.650, 0.400, 0.680);
	transition: all 0.3s cubic-bezier(0.815, 1.650, 0.400, 0.680);
}
.file:hover .caption {
	opacity: 1;
	top: 0;
}
