<include file="Public:header" title="朕乐视频-首页" keywords="朕乐视频-绝逼的视频网站"/>
	<!--页面开始-->
	<div class="container">
		<!--头部信息-->
		<div class="page-header">
<include file="Public:menu" />		
		</div>
		
		<!--主体内容开始-->
		<div class="content">
			<!-- 导航页 -->
			<ol class="breadcrumb">
				  <li class="breadcrumb-title">当前位置</li>
				  <li><a href="javascript:void(0);">首 页</a></li>
				  <li class="current"><a href="javascript:void(0);">测试</a></li>
				  <li class="active">十一月</li>
			</ol>
{__CONTENT__}
		</div>
		<!--主体内容结束-->
  		
		<!--页面底部信息-->
		<div class="page-footer">
			<p>Copyright ©2015 <b>朕乐视频 <a href="www.weijuer.com">weijuer.com</a></b> All Rights Reversed. </p>
			<p>备案号：苏ICP备15011477号 版权所有 维权必究</p>
		</div>
	</div>
	<!--页面结束--> 	
<include file="Public:footer" />