html,body {
	background-color: #efeff4;
}
.mui-bar{
	background-color: #29AAFE;
}
header .mui-title {
	color: white;
}
header a {
	color: white;			
}

.mui-icon-arrowdown:before {
	position: absolute;
	left: 3.5rem;
}
.mui-slider .mui-slider-group .mui-slider-item img {
	width: 4.5em;
}
.mui-slider-indicator .mui-indicator {
	width: 0.6em;
	height: 0.6em;
	margin: 0 0.5em;
}
.mui-slider-indicator .mui-active.mui-indicator {
	background-color: #3ab4c7;
}
.page_mid img {
	border-radius: 8px;
}
.page1-city {
	font-size: 1.6rem;
}
/*.page_mid .mui-table-view {
	background-color: inherit;
}*/

.mui-table-view .mui-media-object {
		max-width: 5em;
		height: 4em;
		line-height: 5em;
}
.mui-icon-location {
	color: #4CC1D2;
	float: right;
	padding: 0.4em;
	font-size: 1em;
}