			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-sm-8">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>资源详情添加</h5>
								<div class="ibox-tools">
									<a class="collapse-link">
										<i class="fa fa-chevron-up"></i>
									</a>
									<a class="close-link" href="javascript:history.back();">
										<i class="fa fa-times"></i>
									</a>
								</div>
							</div>
							
							<div class="ibox-content">
								<form class="form-horizontal m-t" id="videoDetailsForm" method="post" action="__URL__/videoAddCheck" novalidate="novalidate">
									<div class="form-group">
										<label class="col-sm-3 control-label">资源名称：</label>
										<div class="col-md-6">
											<input id="moviename" class="form-control form-control-video" name="moviename" minlength="2" type="text" />
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label">导演：</label>
										<div class="col-md-6">
											<input id="director" class="form-control form-control-video" name="director"  type="text" />
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label">主演：</label>
										<div class="col-md-6">
											<input id="casts" class="form-control form-control-video" name="casts"  type="text" />
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label">资源大小：</label>
										<div class="col-md-6">
											<input id="size" class="form-control form-control-video" name="size"  type="text" />
										</div>
									</div>
									
									
									<div class="form-group">
										<label class="col-sm-3 control-label">电影分类：</label>
										<div class="col-md-6">
											<select id="kind2" data-placeholder="选择电影分类" class="chosen-select form-control form-control-video m-b" name="kind" multiple >
												<option value="JQ" hassubinfo="true">剧情片</option>
												<option value="KF" hassubinfo="true">动作片</option>
												<option value="XY" hassubinfo="true">悬疑片</option>
												<option value="ZZ" hassubinfo="true">战争片</option>
												<option value="KH" hassubinfo="true">科幻片</option>
												<option value="AQ" hassubinfo="true">爱情片</option>
												<option value="LL" hassubinfo="true">伦理片</option>
												<option value="KB" hassubinfo="true">恐怖片</option>
												<option value="XJ" hassubinfo="true">喜剧片</option>												
											</select>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label">清晰度：</label>
										<div class="col-md-6">
											<select id="wh_hd" class="form-control form-control-video m-b" name="wh_hd">
												<option value="">---请选择---</option>
												<option value="BD">蓝光版</option>
												<option value="HD">高清版</option>
												<option value="DVDSCR">DVDSCR(预售版)</option>
												<option value="TC">TC(胶片版)</option>
												<option value="TS">TS(准枪版)</option>
												<option value="CAM">CAM（枪版）</option>
											</select>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label">剧情简介：</label>
										<div class="col-md-6">
											<input id="plot" class="form-control form-control-video" name="plot"  type="text" />
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label">影片截图：</label>
										<div class="col-md-6">
											<input id="plot" class="form-control form-control-video" name="plot"  type="text" />
										</div>
									</div>
									
									<div class="form-group summernote-box">
										<div class="col-sm-3 control-label-box">
											<label class="control-label">资源详情：</label> <br />
											<input id="videoDetails" name="video_details" class="form-control form-control-video" type="hidden" />
											<div class="btn-group m-t">
												<button id="edit" class="btn btn-primary btn-xs m-l-sm" type="button">编辑</button>
												<button id="save" class="btn btn-primary  btn-xs" type="button">保存</button>
											</div>
										</div>
										<div class="col-md-6 summernote">
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-sm-3 control-label">下载地址：</label>
										<div class="col-md-6">
											<input id="link" name="link" class="form-control form-control-video" type="text" />
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-sm-3 col-sm-offset-3">
											<button class="btn btn-primary video-btn" type="button">提交</button>
											<a class="btn btn-primary" href="javascript:history.back();">返回</a>											
										</div>
									</div>
									
								</form>
							</div>
						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>资源详情说明</h5>
								<div class="ibox-tools">
									<a class="collapse-link">
										<i class="fa fa-chevron-up"></i>
									</a>
									<a class="close-link" href="javascript:history.back();">
										<i class="fa fa-times"></i>
									</a>
								</div>
							</div>
							
							<!--<div class="ibox-content">
								<div class="form-group">
									<label class="col-sm-4 control-label">资源名称：</label>
									<div class="col-sm-8">
										<input id="moviename" class="form-control" name="moviename" minlength="2" type="text" />
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-4 control-label">导演：</label>
									<div class="col-sm-8">
										<input id="director" class="form-control" name="director"  type="text" />
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-4 control-label">主演：</label>
									<div class="col-sm-8">
										<input id="casts" class="form-control" name="casts"  type="text" />
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-4 control-label">资源大小：</label>
									<div class="col-sm-8">
										<input id="size" class="form-control" name="size"  type="text" />
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-4 control-label">电影分类：</label>
									<div class="col-sm-8">
										<select id="kind2" data-placeholder="选择电影分类" class="chosen-select form-control m-b" name="kind" multiple >
											<option value="JQ" hassubinfo="true">剧情片</option>
											<option value="KF" hassubinfo="true">动作片</option>
											<option value="XY" hassubinfo="true">悬疑片</option>
											<option value="ZZ" hassubinfo="true">战争片</option>
											<option value="KH" hassubinfo="true">科幻片</option>
											<option value="AQ" hassubinfo="true">爱情片</option>
											<option value="LL" hassubinfo="true">伦理片</option>
											<option value="KB" hassubinfo="true">恐怖片</option>
											<option value="XJ" hassubinfo="true">喜剧片</option>												
										</select>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-4 control-label">清晰度：</label>
									<div class="col-sm-8">
										<select id="wh_hd" class="form-control m-b" name="wh_hd">
											<option value="">---请选择---</option>
											<option value="BD">蓝光版</option>
											<option value="HD">高清版</option>
											<option value="DVDSCR">DVDSCR(预售版)</option>
											<option value="TC">TC(胶片版)</option>
											<option value="TS">TS(准枪版)</option>
											<option value="CAM">CAM（枪版）</option>
										</select>
									</div>
								</div>
								
								<div class="form-group summernote-box">
									<div class="col-sm-3 control-label-box">
										<label class="control-label">资源详情：</label> <br />
										<div class="btn-group m-t">
											<button id="edit" class="btn btn-primary btn-xs m-l-sm" type="button">编辑</button>
											<button id="save" class="btn btn-primary  btn-xs" type="button">保存</button>
										</div>
									</div>
									<div class="col-sm-8 summernote1">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-4 control-label">下载地址：</label>
									<div class="col-sm-8">
										<input id="link" name="link" class="form-control" />
									</div>
								</div>
								
							</div>-->
						</div>
					</div>
				</div>
				
				<script src="__PUBLIC__/js/pages/public.js"></script>
				<script src="__PUBLIC__/js/plugins/layer/layer.min.js"></script>
				
				<script src="__PUBLIC__/js/plugins/summernote/summernote.min.js"></script>
				<script src="__PUBLIC__/js/plugins/summernote/summernote-zh-CN.js"></script>
				<script>
					$(function(){
						// 多选配置,初始化
						$(".chosen-select").chosen({
							no_results_text: "啊哦，啥都没找到哦！",
							allow_single_deselect:true
						});	
						
						// 富文本编辑器配置
						$(".summernote").summernote({lang:"zh-CN"});
						
						// 编辑器编辑
						$("#edit").on("click",function(){
							$(".summernote").summernote({lang:"zh-CN",focus:true});
						});
							
						// 编辑器保存
						$("#save").on("click",function(){
							var aHTML=$(".summernote").code();
							var data = $("#videoDetails").val(aHTML);
							$(".summernote").destroy();	
							console.log(data);
						});						
							
						$(".video-btn").on("click",function(){
							
							var mark = true;
							// 输入校验
							$(".form-control-video").each(function(){
								var value = $(this).val();
								var id = $(this).prop("id");
								var txt = $(this).parents(".col-md-6").prev().text().split("：")[0];
								if(isNull(value)) {
									$(this).focus();
									
									//layer插件 tips层-上
									layer.tips("出错啦，\“"+txt+"\”不能为空！", "#"+id, {
										tips: 1
									});
									
									mark = false; // 设置提交标志为false
									return false; // 跳出循环
								}
							});										
						
							if(!mark) return false; // 跳出函数
							console.log($("#kind2").val());
							var params=$("#videoDetailsForm").serialize();
							var url = "__URL__/videoDetailsAddCheck";
														
						
						});
						
	
					});
					
				</script>
			</div>