		<nav class="mui-bar mui-bar-tab">
			<a class="mui-tab-item mui-active" href="#home">
				<span class="mui-icon fa fa-home"></span>
				<span class="mui-tab-label">首页</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-video">
				<span class="mui-icon fa fa-film"><span class="mui-badge">9</span></span>
				<span class="mui-tab-label">迷影</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-music">
				<span class="mui-icon fa fa-music"></span>
				<span class="mui-tab-label">痴乐</span>
			</a>
			<a class="mui-tab-item" href="#tabbar-with-article">
				<span class="mui-icon fa fa-file-text-o"></span>
				<span class="mui-tab-label">刨文</span>
			</a>
		</nav>
    <block name="body"></block>
