<meta charset="utf-8">
<block name="site-title"><title>朕乐视频</title></block>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--网页标签-->
<link rel="shortcut icon" href="__PUBLIC__/img/favicon.ico">
<link rel="Bookmark" href="__PUBLIC__/img/favicon.ico" />

<link rel="apple-touch-icon" sizes="120x120" href="__PUBLIC__/img/iphone-touch-icon.png">
<link rel="stylesheet" href="__PUBLIC__/mobile/css/mui.min.css">
<link rel="stylesheet" href="__PUBLIC__/css/font-awesome/css/font-awesome.min.css">
	
<block name="top-js"></block>
<block name="page-css">
	<link rel="stylesheet" href="__PUBLIC__/mobile/css/app.css">
</block>
